body {
	padding: 0;
	margin: 0;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

img {
	min-width: 0;
	width: 1200px;
	max-width: 100vw;
	object-fit: contain;
}

p {
		margin: 0;
}

:root {
	--default-padding: .5em;
	--shadow-color: #00000022;
	--background-color: snow;
	--foreground-color: black;
	--highlight-color: tomato;
	--glass-color: #00000011;
	--glass-color-highlight: #00000044;
}

@media (prefers-color-scheme: dark) {
	:root {
		--shadow-color: #333333;
		--background-color: black;
		--foreground-color: white;
		--highlight-color: red;
		--glass-color: #ffffff33;
		--glass-color-highlight: #ffffff44;
	}
}

#emailform {
	border: solid;
	border-width: 2px;
	border-color: var(--foreground-color);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#emailform h2 {
		margin-inline: var(--default-padding)
}

#emailform textarea {
	border-radius: 0;
	border: none;
	outline: solid;
	outline-color: var(--foreground-color);
	outline-width: 2px;
	color: var(--foreground-color);
	background: var(--background-color);
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 300px;
}

#emailform input {
	padding: .5em;
	border-radius: 0;
	border: none;
	outline: solid;
	outline-color: var(--foreground-color);
	outline-width: 1px;
	color: var(--foreground-color);
	background: var(--background-color)
}

#emailform button {
	border-radius: 0;
	border: none;
	outline: solid;
	outline-color: var(--foreground-color);
	outline-width: 1px;
	color: var(--foreground-color);
	background: var(--background-color)
}

#bigname h1 {
	margin: 0;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 900;
	font-size: 10em;
}

#root {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	padding: 0;
	background: var(--background-color)
}

* {
	box-sizing: border-box;
	color: var(--foreground-color)
}

a {
	color: var(--highlight-color)
}

div {
	display: flex;
}

#navbar {
	position: sticky;
	width: 100vw;
	top: 0;
	right: 0;
	z-index: 10;
}

#inner-navbar {
	width: 100%;
	padding: var(--default-padding);
	gap: calc(var(--default-padding) * 5);
	border-radius: 10px;
	align-items: center;
	background: var(--background-color);
	backdrop-filter: blur(calc(var(--default-padding) / 2));
}

#inner-navbar a {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-align: center;
	color: var(--foreground-color);
	padding: 5px;
}

#inner-navbar a.delayed-active {
	text-shadow: 0 0 5px var(--foreground-color), 0 0 10px var(--foreground-color);
	font-weight: 900;
}

#blog {
	flex-direction: column;
	padding: var(--default-padding);
	max-width: 1200px;
	min-width: 0px;
	width: 1200px;
}

#blog-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
}

#blog-index {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--default-padding);
	align-items: flex-end;
	padding-inline: 20;
}

#blog-index button {
	border-radius: 0;
	background: none;
	border: solid;
	border-width: 2px;
	padding: 5px;
	font-size: inherit;
	flex-shrink: 0;
}

#blog-md-wrapper {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	overflow-y: scroll;
	max-width: 100vw;
	width: 1200px;
	min-width: 0;
	padding-inline: 10px;
}

#blog-md-wrapper th {
		font-weight: 900;
}
#blog-md-wrapper td, th {
		outline: solid;
		outline-width: 1px;
		outline-color: var(--foreground-color);
		padding: 10px;
}

#blog-preview-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 100%;
	min-height: 0px;
}

#blog-preview-wrapper h1 {
	flex: 1;
	font-weight: 900;
	font-size: 5vw;
}

#blog-preview-wrapper p {
	color: gray;
	height: auto;
	flex-grow: 0;
	flex-shrink: 1;
	min-height: 0;
}

#blog-preview-wrapper p:has(> img){
	flex: 1;
}


#blog-preview-wrapper p> img{
    max-height: 100%;
}

#abouttable {
		font-family: monospace;
		font-size: 1.5em;
		border-collapse: separate;
}

#grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		border: solid 2px white;
		overflow: hidden;
		min-height: auto;
		flex-shrink: 0;
		width: 100%;
}

#grid p {
		padding: var(--default-padding);
		outline: solid;
		outline-width: 1px;
		outline-color: var(--foreground-color);
		margin: 0;
}
